# Side note on Tuples

In [4]:
t = (1,2,3)
type(t)

tuple

In [6]:
t = 1,2,3
type(t)

tuple

In [8]:
t = (1)
type(t)

int

In [10]:
t = 1,
type(t)

tuple

## Empty Tuple

In [13]:
# The only exception is to create an empty tuple:
a = ()
type(a)

tuple

In [15]:
# Or we can use the tuple constructor:
a = tuple()
type(a)

tuple

## Unpacking
Unpacking is a way to split an iterable object into individual variables contained in a list or tuple:

In [18]:
l = [1, 2, 3, 4]
a, b, c, d = l

print(a, b, c, d)

1 2 3 4

In [20]:
# Strings are iterables too:
a, b, c = 'XYZ'
print(a, b, c)

X Y Z

## Unpacking Unordered Objects

In [23]:
dict1 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}
dict1

{'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [29]:
dict1 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

#By default, iterating over a dictionary in Python iterates over its keys (not values).
for c in dict1:
    print(c)

p
y
t
h
o
n

In [38]:
dict1 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}
a, b, c, d, e, f = dict1
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)


# dictionaries in Python 3.7+ maintain insertion order by default, this will work as expected, and the variables a, b, c, d, e, f will get the keys in the same order as inserted.

p
y
t
h
o
n

### Passing a Dictionary to a Function

In [32]:
def greet(name, age):
    print(f"Hello, my name is {name} and I am {age} years old.")

person = {'name': 'Alice', 'age': 25}

# Unpacking dictionary into function arguments
greet(**person)

Hello, my name is Alice and I am 25 years old.

### Merging Two Dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = {**dict1, **dict2}
print(merged_dict)

### Passing Configurations to Functions (Keyword Arguments)

In [ ]:
def connect_db(host, user, password, database):
    print(f"Connecting to {database} at {host} as {user}")

config = {
    'host': 'localhost',
    'user': 'admin',
    'password': 'secure123',
    'database': 'my_db'
}

# Unpacking dictionary
connect_db(**config)

In [40]:
### Similar for sets

## Extended Unpacking
Let's see how we might split a list into it's first element, and "everything else" using slicing:

In [42]:
l = [1, 2, 3, 4, 5, 6]

In [45]:
a = l[0]
b = l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [47]:

# We can even use unpacking to simplify this slightly:

a, b = l[0], l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [49]:
# But we can use the * operator to achieve the same result:

a, *b = l
print(a)
print(b)

1
[2, 3, 4, 5, 6]

Note that the * operator can only appear **once!**

Like standard unpacking, this extended unpacking will work with any iterable.

With tuples:

In [53]:
a, *b = -10, 5, 2, 100
print(a)
print(b)

-10
[5, 2, 100]

In [55]:
a, *b = 'python'
print(a)
print(b)

p
['y', 't', 'h', 'o', 'n']

What about extracting the first, second, last elements and the rest.

Again we can use slicing:

In [58]:
s = 'python'

a, b, c, d = s[0], s[1], s[2:-1], s[-1]
print(a)
print(b)
print(c)
print(d)

p
y
tho
n

In [60]:
# But we can just as easily do it this way using unpacking:
a, b, *c, d = s
print(a)
print(b)
print(c)
print(d)

p
y
['t', 'h', 'o']
n


As you can see though, c is a list of characters, not a string.

It that's a problem we can easily fix it this way:

In [ ]:
print(c)
c = ''.join(c)
print(c)

# Named Tuples

Named tuples are an elegant extension of the built-in tuple data type that allow us to create simple, immutable data structures with named fields. They bridge the gap between simple tuples and full-fledged classes, providing a lightweight yet readable way to organize related data.

Named tuples were introduced in Python 2.6 as part of the collections module and have remained a useful tool in Python's data structure toolkit ever since.

Basic Concepts
What Are Named Tuples?
Named tuples are essentially regular tuples with two key enhancements:

Fields can be accessed by name (as attributes) rather than just by position
They are self-documenting through meaningful field names

Let's start with a simple example to illustrate the difference:

In [70]:
# Regular tuple
point_tuple = (3, 4)
x = point_tuple[0]  # Access by index
y = point_tuple[1]

# Named tuple
from collections import namedtuple
Point = namedtuple('Point', ['x', 'y'])
point = Point(3, 4)
x = point.x        # Access by name
y = point.y        # More readable!

## Creating Named Tuples
There are several ways to create named tuples:

In [76]:
from collections import namedtuple

# Method 1: List of strings
Person = namedtuple('Person', ['name', 'age', 'height'])

# Method 2: Space-separated string
Person = namedtuple('Person', 'name age height')

# Method 3: Comma-separated string
Person = namedtuple('Person', 'name, age, height')

# Creating an instance
john = Person('John Doe', 30, 175)

Notice that the first argument to the namedtuple function is a string representing the name of the class being created. By convention, this is the same as the variable name to which we assign the result.

## Properties and Methods
Named tuples inherit all methods from regular tuples and add some specialized ones:

In [80]:
from collections import namedtuple

Student = namedtuple('Student', 'name gpa courses')
alice = Student('Alice Smith', 3.8, ['Math', 'Physics', 'CS'])

# Tuple-like properties
print(len(alice))          # Output: 3
print(alice[0])            # Output: 'Alice Smith'

# Named access
print(alice.name)          # Output: 'Alice Smith'
print(alice.courses[1])    # Output: 'Physics'

# Unpacking works
name, gpa, courses = alice
print(name)                # Output: 'Alice Smith'

# Converting to dictionary
student_dict = alice._asdict()
print(student_dict)        # Output: {'name': 'Alice Smith', 'gpa': 3.8, 'courses': ['Math', 'Physics', 'CS']}

# Creating a new instance with one field changed
bob = alice._replace(name='Bob Johnson')
print(bob)                 # Output: Student(name='Bob Johnson', gpa=3.8, courses=['Math', 'Physics', 'CS'])

# Getting field names
print(alice._fields)       # Output: ('name', 'gpa', 'courses')

3
Alice Smith
Alice Smith
Physics
Alice Smith
{'name': 'Alice Smith', 'gpa': 3.8, 'courses': ['Math', 'Physics', 'CS']}
Student(name='Bob Johnson', gpa=3.8, courses=['Math', 'Physics', 'CS'])
('name', 'gpa', 'courses')

## Immutability
Like regular tuples, named tuples are immutable. This means once you create an instance, you cannot modify its fields:

In [83]:
from collections import namedtuple

Book = namedtuple('Book', 'title author year')
book = Book('Python Cookbook', 'David Beazley', 2013)

# This will raise an AttributeError
try:
    book.year = 2020
except AttributeError as e:
    print(f"Error: {e}")   # Output: Error: can't set attribute

# Instead, create a new instance with _replace
new_book = book._replace(year=2020)
print(new_book)            # Output: Book(title='Python Cookbook', author='David Beazley', year=2020)

Error: can't set attribute
Book(title='Python Cookbook', author='David Beazley', year=2020)

This immutability makes named tuples suitable for representing fixed data that shouldn't change, like coordinates, RGB colors, or database records.

## Advanced Features
### Default Values
Starting with Python 3.7, you can specify default values for fields using the defaults parameter:

In [88]:
from collections import namedtuple

# Setting defaults for the last two fields
Server = namedtuple('Server', 'address port user password', defaults=['admin', None])

# Now these are equivalent
s1 = Server('192.168.1.1', 8000)
s2 = Server('192.168.1.1', 8000, 'admin', None)

print(s1)  # Output: Server(address='192.168.1.1', port=8000, user='admin', password=None)
print(s1 == s2)  # Output: True

Server(address='192.168.1.1', port=8000, user='admin', password=None)
True

### Reserved Keywords as Field Names
If you need to use Python reserved keywords as field names, you can set rename=True:

In [91]:
from collections import namedtuple

# 'class' is a reserved keyword in Python
TestCase = namedtuple('TestCase', ['id', 'class', 'result'], rename=True)
print(TestCase._fields)  # Output: ('id', '_1', 'result')

test = TestCase(1, 'Unit Test', 'Pass')
print(test)  # Output: TestCase(id=1, _1='Unit Test', result='Pass')

('id', '_1', 'result')
TestCase(id=1, _1='Unit Test', result='Pass')

###  Creating from Dictionary
You can create a named tuple instance from a dictionary using the ** unpacking operator:

In [94]:
from collections import namedtuple

Product = namedtuple('Product', 'id name price stock')

# Dictionary with product data
product_data = {'id': 1001, 'name': 'Keyboard', 'price': 49.99, 'stock': 15}

# Create named tuple from dictionary
keyboard = Product(**product_data)
print(keyboard)  # Output: Product(id=1001, name='Keyboard', price=49.99, stock=15)

Product(id=1001, name='Keyboard', price=49.99, stock=15)

SyntaxError: invalid syntax (2527504557.py, line 1)

In [ ]:
from collections import namedtuple
import csv

# Let's imagine we have a CSV file with sales data
# We'll simulate it with a string
csv_data = '''
date,product,quantity,price
2023-01-15,Laptop,5,1200
2023-01-15,Mouse,10,25
2023-01-16,Monitor,3,350
2023-01-17,Keyboard,8,65
2023-01-17,Laptop,2,1200
'''

# Create a named tuple for a sales record
SalesRecord = namedtuple('SalesRecord', 'date product quantity price')

# Parse the CSV data
sales = []
for row in csv.DictReader(csv_data.strip().split('\n')):
    # Convert string values to appropriate types
    row['quantity'] = int(row['quantity'])
    row['price'] = float(row['price'])
    
    # Create a named tuple instance
    record = SalesRecord(**row)
    sales.append(record)

# Now we can analyze the data
total_revenue = sum(record.quantity * record.price for record in sales)
print(f"Total revenue: ${total_revenue:.2f}")  # Output: Total revenue: $8570.00

# Group sales by date
from collections import defaultdict
sales_by_date = defaultdict(list)
for record in sales:
    sales_by_date[record.date].append(record)

# Calculate revenue by date
for date, records in sales_by_date.items():
    date_revenue = sum(r.quantity * r.price for r in records)
    print(f"Revenue on {date}: ${date_revenue:.2f}")
# Output:
# Revenue on 2023-01-15: $6250.00
# Revenue on 2023-01-16: $1050.00
# Revenue on 2023-01-17: $1270.00

## Real-Life Use Cases
### 1. Representing Geographic Coordinates
Named tuples are perfect for geographic coordinates, which are fixed values with specific meanings:

In [102]:
from collections import namedtuple
import math

# Define a coordinate type
Coordinate = namedtuple('Coordinate', 'latitude longitude elevation')

# Some mountain peaks
everest = Coordinate(27.9881, 86.9250, 8848)
k2 = Coordinate(35.8818, 76.5150, 8611)

# Calculate distance (simplified, ignoring elevation)
def haversine_distance(coord1, coord2):
    """Calculate the great circle distance between two points on the earth."""
    # Convert latitude and longitude from degrees to radians
    lat1, lon1 = math.radians(coord1.latitude), math.radians(coord1.longitude)
    lat2, lon2 = math.radians(coord2.latitude), math.radians(coord2.longitude)
    
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a))
    r = 6371  # Radius of earth in kilometers
    
    return c * r

# Calculate the distance between Everest and K2
distance = haversine_distance(everest, k2)
print(f"Distance between Everest and K2: {} km")
# Output: Distance between Everest and K2: 1304.41 km

Distance between Everest and K2: 1315.82 km